.disWrapper {
  /*padding-top: 135/@rem;*/
  margin-bottom: 2.1333333333333333rem;
}
/*clearfix*/
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
/*发现头部*/
.navDis {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  padding: 1.3866666666666667rem 0.64rem 0.64rem 0.64rem;
  border-bottom: 1px solid #eeeeee;
  font-size: 0.7253333333333334rem;
  line-height: 0.7253333333333334rem;
  text-align: center;
  color: #333333;
}
.navDis .iconBack {
  width: 0.4266666666666667rem;
  float: left;
}
.navDis .iconMore {
  width: 0.9386666666666666rem;
  float: right;
  margin-top: 0.21333333333333335rem;
}
.navDis .iconShare {
  width: 0.8106666666666666rem;
  float: right;
  margin-right: 0.8533333333333334rem;
}
/*发现首页轮播图*/
.swiper01 .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 8.96rem;
}
.swiper01 .swiper-pagination-bullet {
  width: 0.2986666666666667rem;
  height: 0.2986666666666667rem;
  background-color: #ffffff;
  opacity: 1;
}
.swiper01 .swiper-pagination-bullet-active {
  width: 0.2986666666666667rem;
  height: 0.2986666666666667rem;
  background-color: #ef508d;
}
/*发现标签*/
.disTag {
  box-sizing: border-box;
  padding: 0.4266666666666667rem 0.64rem 0.8533333333333334rem 0.21333333333333335rem;
  border-bottom: 0.4266666666666667rem solid #f3f3f3;
}
.disTag .tag {
  width: 2.56rem;
  height: 1.0666666666666667rem;
  margin-top: 0.4266666666666667rem;
  margin-left: 0.4266666666666667rem;
  float: left;
  font-size: 0.5546666666666666rem;
  line-height: 1.0666666666666667rem;
  color: #f687b2;
  border-radius: 0.128rem;
  background-color: #fff3f8;
  text-align: center;
}
/*热门主题*/
.themeHot .themeHead {
  box-sizing: border-box;
  padding: 0 0.64rem;
  line-height: 2.1333333333333333rem;
  font-size: 0.64rem;
  color: #333333;
}
.themeHot .themeHead img {
  width: 0.64rem;
  vertical-align: middle;
  margin-right: 0.21333333333333335rem;
}
.themeHot .themeHead .more {
  display: inline-block;
  float: right;
  font-size: 0.5973333333333334rem;
  color: #999999;
}
.themeHot .themeHead .more img {
  width: 0.4266666666666667rem;
  margin-left: 0.10666666666666667rem;
}
.themeHot .themeShow .swiper-container {
  box-sizing: border-box;
  padding: 0 0.64rem 0.8533333333333334rem 0.64rem;
}
.themeHot .themeShow .swiper-slide {
  position: relative;
  width: 4.266666666666667rem;
  height: 2.986666666666667rem;
  border-radius: 0.21333333333333335rem;
  font-size: 0.5973333333333334rem;
  color: #ffffff;
  overflow: hidden;
  /* margin-right: 20/@rem;*/
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.themeHot .themeShow .swiper-slide img {
  width: 100%;
  height: 100%;
}
.themeHot .themeShow .swiper-slide span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 2.986666666666667rem;
  text-align: center;
}
.themeHot .border1px {
  box-sizing: border-box;
  padding: 0 0.64rem;
}
.themeHot .border1px .border {
  width: 14.72rem;
  height: 1px;
  background-color: #eeeeee;
}
/*文章列表*/
.articleList {
  background-color: white;
}
.articleList .articleItem {
  border-bottom: 1px solid #eeeeee;
}
.articleList .articleItem .boxBorder {
  box-sizing: border-box;
  padding: 0.64rem 0.64rem;
}
.articleList .articleItem .artImg {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.21333333333333335rem;
  background-color: #eeeeee;
  overflow: hidden;
  float: left;
}
.articleList .articleItem .artImg img {
  width: 100%;
  display: block;
}
.articleList .articleItem .atrText {
  margin-left: 3.84rem;
}
.articleList .articleItem .atrText .artTop {
  font-size: 0.64rem;
  color: #000000;
  line-height: 0.8533333333333334rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.articleList .articleItem .atrText .artBot {
  font-size: 0.5973333333333334rem;
  color: #ef508d;
  margin-top: 1.0666666666666667rem;
}
.articleList .articleItem .articleFollow {
  font-size: 0.5546666666666666rem;
  color: #b8b8b8;
  float: right;
  margin-top: -0.64rem;
}
.articleList .articleItem .articleFollow img {
  width: 0.64rem;
  vertical-align: bottom;
}
/*发现banner*/
.swiper03 .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 6.4rem;
  overflow: hidden;
  border-top: 0.4266666666666667rem solid #f3f3f3;
  border-bottom: 0.4266666666666667rem solid #f3f3f3;
}
.swiper03 .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
}
/*产品列表*/
.product .produceHead .swiper-container {
  width: 100%;
  line-height: 2.1333333333333333rem;
}
.product .produceHead .swiper-container .swiper-wrapper {
  border-bottom: 0.042666666666666665rem solid #eeeeee;
}
.product .produceHead .swiper-slide {
  text-align: center;
  font-size: 0.64rem;
  color: #000000;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.activeShowItem {
  font-size: 0.64rem;
  color: #ef508d!important;
  border-bottom: 0.08533333333333333rem solid #ef508d;
}
.userList {
  box-sizing: border-box;
  padding: 0 0.64rem;
}
.userHeader {
  position: relative;
  margin-top: 0.8533333333333334rem;
}
.userHeader .userImg {
  width: 1.28rem;
  height: 1.28rem;
  border-radius: 50%;
  background-image: url("../images/userImg01.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
}
.userHeader .userMessage {
  font-size: 0.5973333333333334rem;
  color: #363636;
  font-weight: bold;
  line-height: 0.5973333333333334rem;
  margin-left: 1.7066666666666668rem;
  margin-bottom: 0.21333333333333335rem;
}
.userHeader .userMessage img {
  width: 0.5333333333333333rem;
  height: 0.5333333333333333rem;
  vertical-align: top;
}
.userHeader .userMessage .levelNum {
  color: #ef508d;
  font-size: 0.512rem;
  font-weight: bold;
  margin-left: -6px;
}
.userHeader .userText {
  font-size: 0.5973333333333334rem;
  color: #999999 ;
  margin-left: 1.7066666666666668rem;
}
.userHeader .follow {
  width: 2.1333333333333333rem;
  height: 0.8533333333333334rem;
  border-radius: 1.0666666666666667rem;
  font-size: 0.4693333333333333rem;
  color: #ef508d;
  position: absolute;
  right: 0rem;
  top: 0.21333333333333335rem;
  border: 1px solid #ef508d;
  line-height: 0.8533333333333334rem;
  text-align: center;
}
.userHeader .follow .followImg {
  width: 0.3413333333333333rem;
  height: 0.3413333333333333rem;
  display: inline-block;
}
.userHeader .follow .followImg img {
  width: 100%;
  vertical-align: baseline;
}
.userPhoto {
  margin-top: 0.8533333333333334rem;
}
.userPhoto .left,
.userPhoto .right {
  width: 7.1466666666666665rem;
  height: 7.1466666666666665rem;
  border-radius: 0.21333333333333335rem;
  background-color: red;
}
.userPhoto .left {
  background: url("../images/userBefore.png") center no-repeat;
  background-size: 100%;
  float: left;
  position: relative;
}
.userPhoto .left .before,
.userPhoto .right .after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2.1333333333333333rem;
  height: 0.8533333333333334rem;
  border-radius: 0 0.21333333333333335rem 0 0.21333333333333335rem;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 0.5546666666666666rem;
  line-height: 0.8533333333333334rem;
  text-align: center;
}
.userPhoto .right {
  position: relative;
  background: url("../images/userAfter.png") center no-repeat;
  background-size: 100%;
  float: right;
}
.userComment {
  font-size: 0.5973333333333334rem;
  color: #8C8C8C ;
  margin-top: 0.5333333333333333rem;
  margin-bottom: 0.5333333333333333rem;
  line-height: 0.8106666666666666rem;
}
.userPro {
  line-height: 0.5546666666666666rem;
}
.userPro .iconCom {
  display: inline-block;
  width: 0.512rem;
  height: 0.512rem;
  background: url("../images/icon_Commodity-link@2x.png") no-repeat;
  background-size: 100%;
}
.userPro .userProName {
  font-size: 0.5546666666666666rem;
  color: #ef508d;
}
.attention {
  line-height: 0.5546666666666666rem;
  display: flex;
  justify-content: space-between;
  margin: 0.8533333333333334rem 0 0.5333333333333333rem 0;
}
.view .viewImg {
  display: inline-block;
  width: 0.64rem;
  height: 0.64rem;
  background: url("../images/icon_browse@2x.png") center no-repeat;
  background-size: 100%;
}
.view img,
.support img,
.comment img {
  width: 0.64rem;
  vertical-align: middle;
}
.view .viewNum,
.support .viewNum,
.comment .viewNum {
  font-size: 0.5546666666666666rem;
  color: #B8B8B8;
}
.userShow {
  box-sizing: border-box;
  padding: 0 0.64rem;
  height: 8.853333333333333rem;
  border-bottom: 0.21333333333333335rem solid #eeeeee;
}
.userShow .userTitle {
  font-size: 0.7253333333333334rem;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 0.7253333333333334rem;
  margin: 0.7466666666666667rem 0 0.64rem 0;
}
.userShow .userText {
  position: relative;
}
.userShow .userText .viewP {
  position: absolute;
  right: 5.12rem;
  bottom: -1.28rem;
}
.userShow .userText .userProShow {
  position: absolute;
  left: 0;
  bottom: -1.28rem;
}
.userShow .userText .userTextLeft {
  font-size: 0.5546666666666666rem;
  color: #999;
  width: 9.6rem;
  height: 3.2rem;
  line-height: 200%;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  float: left;
}
.userShow .userText .iconLink {
  background: url("../images/btn_Article-links@2x.png") no-repeat;
  background-size: 100%;
}
.userShow .userTextRight {
  width: 4.266666666666667rem;
  height: 4.266666666666667rem;
  background: url("../images/userShowImg.png") no-repeat;
  background-size: 100%;
  border-radius: 0.17066666666666666rem;
  position: absolute;
  top: 0;
  right: 0;
}
.userShow .userTextRight .imgNum {
  font-size: 0.5546666666666666rem;
  color: #ffffff;
  position: absolute;
  right: 0.21333333333333335rem;
  bottom: 0.21333333333333335rem;
}
.swiper06 .swiper-wrapper .swiper-slide img {
  width: 100%;
}
.bigPhotoShow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
}
.swiper06 .swiper-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.swiper06 .swiper-wrapper .swiper-slide {
  align-self: center;
}
.swiper06 .swiper-wrapper .swiper-slide a {
  display: inline-block;
}
/*底部loading图*/
.loadingImg {
  width: 100%;
  height: 4.693333333333333rem;
  font-size: 0.512rem;
  color: #000000;
  line-height: 4.693333333333333rem;
  background-color: #F3F3F3 ;
  text-align: center;
}
.loadingImg img {
  width: 2.3466666666666667rem;
  vertical-align: middle;
}
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0.21333333333333335rem 1.0666666666666667rem;
  font-size: 0.512rem;
  color: #c0c0c0;
  background-color: #ffffff;
}
footer img {
  width: 0.8533333333333334rem;
  height: 0.8533333333333334rem;
}
footer a {
  display: block;
  text-align: center;
}
footer span {
  display: block;
  margin-top: 0.21333333333333335rem;
}
.icon-homepage,
.icon-store,
.icon-discover,
.icon-shopcar,
.icon-mine {
  display: inline-block;
  width: 0.96rem;
  height: 0.96rem;
  background-size: 0.8533333333333334rem;
  overflow: hidden;
}
.icon-homepage {
  background: url("../images/icon-homepage.png") center no-repeat;
  background-size: 0.8533333333333334rem;
}
.icon-store {
  background: url("../images/icon-store.png") center no-repeat;
  background-size: 0.8533333333333334rem;
}
.icon-discover {
  background: url("../images/icon-discover-active.png") center no-repeat;
  background-size: 0.8533333333333334rem;
}
.icon-shopcar {
  background: url("../images/icon-shopcar.png") center no-repeat;
  background-size: 0.8533333333333334rem;
}
.icon-mine {
  background: url("../images/mine-gray.png") center no-repeat;
  background-size: 0.8533333333333334rem;
}
