/*日志头部*/
.navDis {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  padding: 1.3866666666666667rem 0.64rem 0.64rem 0.64rem;
  border-bottom: 1px solid #eeeeee;
  font-size: 0.7253333333333334rem;
  line-height: 0.7253333333333334rem;
  text-align: center;
  color: #333333;
}
.navDis .iconBack {
  width: 0.4266666666666667rem;
  float: left;
}
.navDis .iconMore {
  width: 0.9386666666666666rem;
  float: right;
  margin-top: 0.21333333333333335rem;
}
.navDis .iconShare {
  width: 0.8106666666666666rem;
  float: right;
  margin-right: 0.8533333333333334rem;
}
/*闺蜜热聊圈*/
.topic {
  /*闺蜜热标签*/
}
.topic .topicHead {
  box-sizing: border-box;
  padding: 0 0.64rem;
  font-size: 0.64rem;
  color: #333333;
}
.topic .topicHead .headBorder {
  line-height: 2.1333333333333333rem;
  border-bottom: 0.042666666666666665rem solid #f3f3f3;
}
.topic .topicHead .headBorder img {
  width: 0.64rem;
  vertical-align: middle;
  margin-right: 0.21333333333333335rem;
  margin-top: -0.21333333333333335rem;
}
.topic .disTag {
  box-sizing: border-box;
  padding: 0.4266666666666667rem 0.64rem 0.8533333333333334rem 0.21333333333333335rem;
  border-bottom: 0.4266666666666667rem solid #f3f3f3;
}
.topic .disTag .tag {
  width: 2.56rem;
  height: 1.0666666666666667rem;
  margin-top: 0.4266666666666667rem;
  margin-left: 0.4266666666666667rem;
  float: left;
  font-size: 0.5546666666666666rem;
  line-height: 1.0666666666666667rem;
  color: #f687b2;
  border-radius: 0.128rem;
  background-color: #fff3f8;
  text-align: center;
}
/*产品列表*/
.product .fixHeight {
  width: 100%;
  height: 2.1333333333333333rem;
}
.produceHead {
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
}
#header .swiper-slide {
  margin: 0 0.8533333333333334rem;
  width: auto;
  font-size: 0.5973333333333334rem;
  color: #000000;
  line-height: 2.1333333333333333rem;
}
#top-line {
  width: 100%;
  height: 0.064rem;
  text-align: center;
  background-color: #f3f3f3;
}
.activeShowItem {
  font-size: 0.64rem;
  color: #ef508d!important;
  border-bottom: 0.08533333333333333rem solid #ef508d;
}
/*用户列表*/
.userList {
  box-sizing: border-box;
  padding: 0 0.64rem;
  border-bottom: 0.21333333333333335rem solid #f3f3f3;
}
.userHeader {
  position: relative;
  margin-top: 0.8533333333333334rem;
}
.userHeader .userImg {
  width: 1.28rem;
  height: 1.28rem;
  border-radius: 50%;
  float: left;
}
.userHeader .userImg img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.userHeader .userMessage {
  font-size: 0.5973333333333334rem;
  color: #363636;
  font-weight: bold;
  line-height: 0.5973333333333334rem;
  margin-left: 1.7066666666666668rem;
  margin-bottom: 0.21333333333333335rem;
}
.userHeader .userMessage img {
  width: 0.5333333333333333rem;
  height: 0.5333333333333333rem;
  vertical-align: top;
}
.userHeader .userMessage .levelNum {
  color: #ef508d;
  font-size: 0.512rem;
  font-weight: bold;
  margin-left: -6px;
}
.userHeader .userText {
  font-size: 0.5973333333333334rem;
  color: #999999 ;
  margin-left: 1.7066666666666668rem;
}
.userHeader .follow {
  width: 2.1333333333333333rem;
  height: 0.8533333333333334rem;
  border-radius: 1.0666666666666667rem;
  font-size: 0.4693333333333333rem;
  color: #ef508d;
  position: absolute;
  right: 0rem;
  top: 0.21333333333333335rem;
  border: 1px solid #ef508d;
  line-height: 0.8533333333333334rem;
  text-align: center;
}
.userHeader .follow .followImg {
  width: 0.3413333333333333rem;
  height: 0.3413333333333333rem;
  display: inline-block;
}
.userHeader .follow .followImg img {
  width: 100%;
  vertical-align: baseline;
}
.userPhoto {
  margin-top: 0.8533333333333334rem;
}
.userPhoto .left,
.userPhoto .right {
  width: 7.1466666666666665rem;
  height: 7.1466666666666665rem;
  border-radius: 0.21333333333333335rem;
  background-color: red;
}
.userPhoto .left {
  float: left;
  position: relative;
  overflow: hidden;
}
.userPhoto .left img {
  width: 100%;
  height: 100%;
}
.userPhoto .left .before,
.userPhoto .right .after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2.1333333333333333rem;
  height: 0.8533333333333334rem;
  border-radius: 0 0.21333333333333335rem 0 0.21333333333333335rem;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 0.5546666666666666rem;
  line-height: 0.8533333333333334rem;
  text-align: center;
}
.userPhoto .right {
  position: relative;
  float: right;
  overflow: hidden;
}
.userPhoto .right img {
  width: 100%;
  height: 100%;
}
.userComment {
  font-size: 0.5973333333333334rem;
  color: #8C8C8C ;
  margin-top: 0.5333333333333333rem;
  margin-bottom: 0.5333333333333333rem;
  line-height: 0.8106666666666666rem;
}
.userPro {
  line-height: 0.5546666666666666rem;
}
.userPro .iconCom {
  display: inline-block;
  width: 0.512rem;
  height: 0.512rem;
  background: url("../images/icon_Commodity-link@2x.png") no-repeat;
  background-size: 100%;
}
.userPro .userProName {
  font-size: 0.5546666666666666rem;
  color: #ef508d;
}
.attention {
  line-height: 0.5546666666666666rem;
  display: flex;
  justify-content: space-between;
  margin: 0.8533333333333334rem 0 0.5333333333333333rem 0;
}
.view .viewImg {
  display: inline-block;
  width: 0.64rem;
  height: 0.64rem;
  background: url("../images/icon_browse@2x.png") center no-repeat;
  background-size: 100%;
}
.view img,
.support img,
.comment img {
  width: 0.64rem;
  vertical-align: middle;
}
.view .viewNum,
.support .viewNum,
.comment .viewNum {
  font-size: 0.5546666666666666rem;
  color: #B8B8B8;
}
/*loading*/
.loadingImg {
  width: 100%;
  height: 4.693333333333333rem;
  font-size: 0.512rem;
  color: #000000;
  line-height: 4.693333333333333rem;
  background-color: #F3F3F3 ;
  text-align: center;
}
.loadingImg img {
  width: 2.3466666666666667rem;
  vertical-align: middle;
}
.mescroll-downwarp .downwarp-tip,
.mescroll-upwarp .upwarp-tip,
.mescroll-upwarp .upwarp-nodata {
  width: 100%;
  line-height: 2.56rem;
  display: inline-block;
  font-size: 0.512rem;
  color: #666666;
  text-align: center;
  background-color: #F3F3F3;
}
