body {
  background-color: #f8f8f8;
}
.navScare {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  padding: 1.3866666666666667rem 0.64rem 0.64rem 0.64rem;
  font-size: 0.7253333333333334rem;
  line-height: 0.7253333333333334rem;
  text-align: center;
  color: #333333;
  border-bottom: 1px solid #f3f3f3;
}
.navScare .iconBack {
  width: 0.4266666666666667rem;
  float: left;
}
.navScare .iconMore {
  width: 0.9386666666666666rem;
  float: right;
  margin-top: 0.21333333333333335rem;
}
.navScare .iconShare {
  width: 0.8106666666666666rem;
  float: right;
  margin-right: 0.8533333333333334rem;
}
.comListTab {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0 0.64rem;
  display: flex;
  justify-content: space-around;
  font-size: 0.64rem;
  color: #999999;
  line-height: 2.1333333333333333rem;
  border-bottom: 1px solid #EEEEEE;
  border-top: 0.21333333333333335rem solid #f3f3f3;
  margin-top: 2.7306666666666666rem;
}
.comListTab .line {
  width: 0.042666666666666665rem;
  height: 0.5973333333333334rem;
  background-color: #e8e8e8;
  align-self: center;
}
.mainComment {
  background-color: #ffffff;
  border-bottom: none;
}
.comItem {
  box-sizing: border-box;
  padding: 0.8533333333333334rem 0.64rem;
  border-bottom: 1px solid #f3f3f3;
}
.comItem .comContent {
  font-size: 0.5973333333333334rem;
  color: #666666;
  margin-left: 1.7066666666666668rem;
  line-height: 0.8533333333333334rem;
  margin-top: 0.64rem;
}
.userListHeader .userHeader {
  position: relative;
}
.userListHeader .userHeader .userImg {
  width: 1.28rem;
  height: 1.28rem;
  border-radius: 50%;
  /*background-image: url("../images/user02.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
  float: left;
  overflow: hidden;
}
.userHeader .userImg img {
  width: 100%;
}
.userListHeader .userHeader .userMessage {
  font-size: 0.5973333333333334rem;
  color: #363636;
  line-height: 0.5973333333333334rem;
  margin-left: 1.7066666666666668rem;
  margin-bottom: 0.21333333333333335rem;
}
.userListHeader .userHeader .userMessage img {
  width: 0.5333333333333333rem;
  height: 0.5333333333333333rem;
  vertical-align: top;
}
.userListHeader .userHeader .userMessage .levelNum {
  color: #ef508d;
  font-size: 0.512rem;
  font-weight: bold;
  margin-left: -6px;
}
.userListHeader .userHeader .userText {
  font-size: 0.512rem;
  color: #999999 ;
  margin-left: 1.7066666666666668rem;
}
.userListHeader .userHeader .follow {
  width: 2.1333333333333333rem;
  height: 0.8533333333333334rem;
  border-radius: 1.0666666666666667rem;
  font-size: 0.4693333333333333rem;
  color: #ef508d;
  position: absolute;
  right: 0rem;
  top: 0.21333333333333335rem;
  border: 1px solid #ef508d;
  line-height: 0.8533333333333334rem;
  text-align: center;
}
.userListHeader .userHeader .follow .followImg {
  width: 0.3413333333333333rem;
  height: 0.3413333333333333rem;
  display: inline-block;
}
.userListHeader .userHeader .follow .followImg img {
  width: 100%;
  vertical-align: baseline;
}
/*点赞*/
.like {
  float: right;
}
.like i {
  font-style: normal;
  font-size: 0.5333333333333333rem;
  color: #D2D2D2;
}
i.active {
  color: #EF508D;
}
.like img {
  width: 0.64rem;
  vertical-align: middle;
}
/*footer底部回复*/
footer {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.1333333333333333rem;
  border-top: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 0.4266666666666667rem 0.64rem;
  background-color: #ffffff;
}
footer input {
  text-indent: 0.4266666666666667rem;
  font-size: 0.5546666666666666rem;
  color: #333333;
  width: 14.72rem;
  height: 1.28rem;
  border-radius: 0.21333333333333335rem;
  background-color: #f5f5f5;
  outline: none;
}
footer input:-moz-placeholder {
  font-size: 0.5546666666666666rem;
  color: #b3b3b3;
  text-indent: 0.4266666666666667rem;
}
footer input::-webkit-input-placeholder {
  font-size: 0.5546666666666666rem;
  color: #b3b3b3;
  text-indent: 0.4266666666666667rem;
}
footer input:-ms-input-placeholder {
  font-size: 0.5546666666666666rem;
  color: #b3b3b3;
  text-indent: 0.4266666666666667rem;
}
footer input::-moz-placeholder {
  font-size: 0.5546666666666666rem;
  color: #b3b3b3;
  text-indent: 0.4266666666666667rem;
}
/*底部loading图*/
.loadingImg {
  width: 100%;
  height: 4.693333333333333rem;
  font-size: 0.512rem;
  color: #000000;
  line-height: 4.693333333333333rem;
  background-color: #F3F3F3 ;
  text-align: center;
}
.loadingImg img {
  width: 2.3466666666666667rem;
  vertical-align: middle;
}
.mescroll-downwarp .downwarp-tip,
.mescroll-upwarp .upwarp-tip,
.mescroll-upwarp .upwarp-nodata {
  width: 100%;
  line-height: 2.56rem;
  display: inline-block;
  font-size: 0.512rem;
  color: #666666;
  text-align: center;
  background-color: #F3F3F3;
}
/*
.mescroll-upwarp{
  padding-bottom:100/@rem;
}*/
